<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        <pre>{{message}}</pre>

        トップに<a href="/">戻る</a>
    </body>
</html>