<!DOCTYPE html>
<html lang="jp">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <meta charset="UTF-8">
   <title>test_flask</title>
</head>
<body >
    <form method="post" action='/'>
    <div id="form">
        <p class="form-title">Login</p>
        <form action="post">
          <p>ID
          </p>
          <p class="ID">
            <input type="text" name="post_ID" />
          </p>
          <p>Password</p>
          <p class="pass">
            <input type="password" name="passward" />
          </p>
          <p class="submit">
            <input type="submit" value="Login" />
          </p>
        </form>
      </div>
</body>
</html>
