
<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        {{post_ID}}でログイン中
            <form action="/infection_form1" method="POST">
                名前<input type="text" name="namae" ><br>
                感染日<input type="date" name="date"><br>
                <input type="hidden" name="post_ID" value={{post_ID}}>
                <input type="submit" value="記録">
                <input type="reset" value="取り消し">
            </form>
    </body>
</html>