<form.html -->
    <!doctype html>
    <html lang="ja">
        <head>
            <title>行動管理表</title>
            <meta charset="utf-8">
        </head>
        <body>
            <h2>行動管理表</h2>
            {{post_ID}}でログイン中
            <form action="/koudou_form2" method="POST" >
                <input type="hidden" name="post_ID" value={{post_ID}}>
                <!--学籍(個人)番号<input type="text" name="banngou" maxlength="50"><br>-->
                名前<input type="text" name="namae" ><br>
                日付<input type="date" name="dates" required><br>
                出発時間<input type="text" name="starting_time" required><br>
                帰宅時間<input type="text" name="arrival_time" required><br>
                出発地<input type="text" name="place_of_departure" maxlength="10" required><br>
                目的地<input type="text" name="destination" maxlength="10" required><br>
                移動方法<input type="text" name="method_of_travel" maxlength="10"><br>
                <label>
                    <input type="checkbox" name="fellow_travellers" value="TRUE">同行者<br>
                    <input type="hidden"  name="fellow_travellers" value="FALSE">
                </label>
                同行者数(いない場合は0)<input type="text" name="doukou" maxlength="10" required><br>
                同行者との関係(いない場合は"特になし")<input type="text" name="relation" maxlength="50" required><br>
                    <input type="submit" value="submit">
                    <input type="reset" value="reset">
            </form>
        </body>
    </html>