

<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
</head>
<body>
    <p>{{post_ID}}でログイン中</p>
    <input type="hidden" name="post_ID" value={{post_ID}}>
    <ul>
        <li><a href="/select_action">行動管理一覧表示</a></li>
        <li><a href="/select_infection">感染・濃厚接触一覧表示</a></li>
        <li><a href="/delete_infection">感染・濃厚接触一覧のデータ削除</a>
        <li><a href="/select_pick_up">感染疑い一覧表示</a></li>
        <li><a href="/delete_pick_up">感染疑い一覧のデータ削除</a>
    </ul>
    <li><a href="/new_acount">新規登録<a><br>
    <a href="/logout">Logout</a>
 </body>
</html