<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
</head>
<body>
    <p>{{post_ID}}でログイン中</p>
    <input type="hidden" name="post_ID" value={{post_ID}}>
    <ul>
        <li><a href="/taityou_form">体調観察</a></li>
        <li><a href="/koudou_form">行動記録</a></li>
        <li><a href="/infection_form">感染・濃厚接触データ追加</a></li>
    </ul>
    <a href="/logout">Logout</a>
 </body>
</html