
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h2>{{title}}</h2>
    <form action="/new_acount2" method="POST">
        <p>{{post_ID}}でログイン中</p>
        <input type="hidden" name="post_ID" value={{post_ID}}>
        学科
        <input type="text" name="course_of_study"><br>
        個人番号
        <input type="text" name="post_ID2"><br>
        名前
        <input type="text" name="namae"><br>
        役職
        <select name="post">
            <option value="学生">学生</option>
            <option value="教員(専任)">教員(専任)</option>
            <option value="教員(特任)">教員(特任)</option>
            <option value="教員(非常勤)">教員(非常勤)</option>
            <option value="職員(専任)">職員(専任)</option>
            <option value="職員(特任)">職員(特任)</option>
            <option value="職員(非常勤)">職員(非常勤)</option>
          </select><br>
        電話番号
        <input type="text" name="phonenum"><br>
        パスワード
        <input type="text" name="passward"><br>
        <input type="submit"value="登録">
    </form>
    <a href="/">戻る</a>
 </body>
</html>