
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
</head>
<body>
    <form action="/select_action2" method="POST">
        <p>{{post_ID}}でログイン中</p>
        <input type="hidden" name="post_ID" value={{post_ID}}>
        閲覧したい人の個人番号を入力してください<br>
        <input type="text" name="num">
        <input type="submit"value="検索">
    </form>
    <a href="/">戻る</a>
 </body>
</html>