
<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        {{post_ID}}でログイン中
        <table border>
            <!-- テーブルの表題をcolumns属性をつかい表示する -->
            <tr>
                {% for item in table_data.columns %}
                    <th>{{item}}</th>
                {% endfor %}
            </tr>
            <!--テーブルのデータをvalues属性を使い表示する-->
            {% for row_data in table_data.values %}
            <tr>
                <!-- ベクトルデータrow_dataから データを取り出し表示-->
                {% for item in row_data %}
                    <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>

        トップに<a href="/">戻る</a>
    </body>
</html>