

<form.html -->
    <!doctype html>
    <html lang="ja">
        <head>
            <title>体調観察</title>
            <meta charset="utf-8">
        </head>
        <body>
            <h2>体調観察</h2>
            {{post_ID}}でログイン中
            <form action="/taityou2" method="POST" >
                名前<input type="text" name="namae" ><br>
                日付<input type="date" name="date" required><br>
                体温<input type="text" name="taion" required>℃<br>
                <input type="hidden" name="post_ID" value={{post_ID}}>
                <p>当てはまるものを選択してください</p>
                <label>
                    <input type="checkbox" name="syouzyou1" value="1">関節・筋肉痛<br>
                    <input type="hidden"  name="syouzyou1" value="0">
                    </label>
                    <label>
                    <input type="checkbox" name="syouzyou2" value="1">だるさ<br>
                    <input type="hidden"  name="syouzyou2" value="0">
                    </label>
                    <label>
                    <input type="checkbox" name="syouzyou3" value="1">頭痛<br>
                    <input type="hidden"  name="syouzyou3" value="0">
                    </label>
                    <label>
                    <input type="checkbox" name="syouzyou4" value="1">咽頭痛<br>
                    <input type="hidden" name="syouzyou4" value="0">
                    </label>
                    <label>
                    <input type="checkbox" name="syouzyou5" value="1">息苦しさ<br>
                    <input type="hidden"  name="syouzyou5" value="0">
                    </label>
                    <label>
                    <input type="checkbox" name="syouzyou6" value="1">咳・くしゃみ<br>
                    <input type="hidden"  name="syouzyou6" value="0">
                    </label>
                    <label>
                    <input type="checkbox" name="syouzyou7" value="1">吐気・嘔吐<br>
                    <input type="hidden" name="syouzyou7" value="0">
                    </label>
                    <label>
                    <input type="checkbox"  name="syouzyou8" value="1">腹痛・下痢<br>
                    <input type="hidden"  name="syouzyou8" value="0">
                    </label>
                    <label>
                    <input type="checkbox" name="syouzyou9" value="1">味覚障害<br>
                    <input type="hidden" name="syouzyou9" value="0">
                    </label>
                    <label>
                    <input type="checkbox" name="syouzyou10" value="1">嗅覚障害<br>
                    <input type="hidden"  name="syouzyou10" value="0">
                    </label>
                <input type="submit" value="submit">
                <input type="reset" value="reset">
            </form>
        </body>
    </html>