
<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        <form action="/update_infection3" method="POST">
            <!--table_dataにSeries形式(カラム名付き1次元ベクトルデータ)形式受け取り-->
            名前<input type="text" name="namae" value="{{table_data.namae}}">
            日付<input type="date" name="date" value="{{table_data.date}}"><br>
            データの復元<input type="text" name="cancel" value="{{table_data.cancel}}"><br>
            0:復元__1:削除<br>
            <input type = "hidden" name="contactID" value="{{table_data.contactID}}">
            <input type="submit" value="更新">
            <input type="reset" value="リセット">

        </form>
        
    </body>
</html>